<a href="https://colab.research.google.com/github/kozz84/Udemy/blob/main/intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 200+ Exercises - Programming in Python - 2022

In [ ]:
#Print the approximation of pi to two decimal places:
print('\nPrint the approximation of pi to two decimal places:')

pi = 3.1415926535
print(f'Pi: {pi:.2f}')

Print the approximation of pi to two decimal places:
Pi: 3.14

In [ ]:
#Print something x times:
print('\nPrint something x times:')
print('0.o ' * 20)

Print something x times:
0.o 0.o 0.o 0.o 0.o 0.o 0.o 0.o 0.o 0.o 0.o 0.o 0.o 0.o 0.o 0.o 0.o 0.o 0.o 0.o

In [ ]:
#Separation
print("\nSeparation")
print('summer', 'time', 'holiday', sep='#')

Separation
summer#time#holiday

In [ ]:
#Binary to int
print("\nBinary to int")
string = '1 0 0 1 0 1'
binary = string[::2]
print(binary)
number = int(binary, 2)
print(f'Number found: {number}')

Binary to int
100101
Number found: 37

In [ ]:
#Reverse order
print('\nReverse order')
text = '0123456789'
print(text[::-1])

Reverse order
9876543210

In [ ]:
# reszta ilorazu
print('\nreszta ilorazu')
8%3

reszta ilorazu

2

In [ ]:
#variable in string
print('variable in string')
x = 1
print('s+{}'.format(x))
print
num = 12
name = 'Sam'
print('\nMy number is: {}, and my name is: {}'.format(num,name))

variable in string
s+1

My number is: 12, and my name is: Sam

In [ ]:
#map and lambda expressions
seq = [1,2,3,4,5]
print(list(map(lambda x: x*2,seq)))

print(list(filter(lambda x: x%2 ==0, seq)))

s= 'hello my name is Paul'
s.rsplit('is')

[2, 4, 6, 8, 10]
[2, 4]

['hello my name ', ' Paul']

In [ ]:
# FILTERING
seq = ['soup','dog','salad','cat','great']
s = list(filter(lambda i: i[0]=='s', seq))
print(s)

['soup', 'salad']

# Udemy

## Numpy

In [ ]:
import numpy as np
np.arange(0,11,2)
np.zeros(5)
np.ones((5,5))
np.zeros((5,5))
np.linspace(0,100,100)
#np.eye(10)

array([[  0.        ,   1.01010101,   2.02020202,   3.03030303,
          4.04040404,   5.05050505,   6.06060606,   7.07070707,
          8.08080808,   9.09090909],
       [ 10.1010101 ,  11.11111111,  12.12121212,  13.13131313,
         14.14141414,  15.15151515,  16.16161616,  17.17171717,
         18.18181818,  19.19191919],
       [ 20.2020202 ,  21.21212121,  22.22222222,  23.23232323,
         24.24242424,  25.25252525,  26.26262626,  27.27272727,
         28.28282828,  29.29292929],
       [ 30.3030303 ,  31.31313131,  32.32323232,  33.33333333,
         34.34343434,  35.35353535,  36.36363636,  37.37373737,
         38.38383838,  39.39393939],
       [ 40.4040404 ,  41.41414141,  42.42424242,  43.43434343,
         44.44444444,  45.45454545,  46.46464646,  47.47474747,
         48.48484848,  49.49494949],
       [ 50.50505051,  51.51515152,  52.52525253,  53.53535354,
         54.54545455,  55.55555556,  56.56565657,  57.57575758,
         58.58585859,  59.5959596 ],
       [ 60.60606061,  61.61616162,  62.62626263,  63.63636364,
         64.64646465,  65.65656566,  66.66666667,  67.67676768,
         68.68686869,  69.6969697 ],
       [ 70.70707071,  71.71717172,  72.72727273,  73.73737374,
         74.74747475,  75.75757576,  76.76767677,  77.77777778,
         78.78787879,  79.7979798 ],
       [ 80.80808081,  81.81818182,  82.82828283,  83.83838384,
         84.84848485,  85.85858586,  86.86868687,  87.87878788,
         88.88888889,  89.8989899 ],
       [ 90.90909091,  91.91919192,  92.92929293,  93.93939394,
         94.94949495,  95.95959596,  96.96969697,  97.97979798,
         98.98989899, 100.        ]])

In [ ]:
z = np.random.randint(1,50,20)
z.dtype

dtype('int64')

In [ ]:
z.argmax()

2

## Pandas

In [2]:
import numpy as np
import pandas as pd

In [13]:
df = pd.DataFrame(np.random.randn(5,4),index = "A B C D E".split(), columns= "M N O P".split())

In [89]:
df['new'] = df['M']*2
df

          M         N         O         P States       new
A -0.993263  0.196800 -1.136645  0.000366     CA -1.986527
B  1.025984 -0.156598 -0.031579  0.649826     NY  2.051968
C  2.154846 -0.610259 -0.755325 -0.346419     WY  4.309693
D  0.147027 -0.479448  0.558769  1.024810     OR  0.294054

In [90]:
df.drop('new',axis=1,inplace=True)

In [91]:
df

          M         N         O         P States
A -0.993263  0.196800 -1.136645  0.000366     CA
B  1.025984 -0.156598 -0.031579  0.649826     NY
C  2.154846 -0.610259 -0.755325 -0.346419     WY
D  0.147027 -0.479448  0.558769  1.024810     OR

In [38]:
df.loc['A']

M   -0.993263
N    0.196800
O   -1.136645
P    0.000366
Name: A, dtype: float64

In [39]:
df.iloc[0]

M   -0.993263
N    0.196800
O   -1.136645
P    0.000366
Name: A, dtype: float64

In [43]:
df.loc['A','M']

-0.993263499973366

In [44]:
df

          M         N         O         P
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810

In [46]:
df.loc[['A','B'],['M','N']]

          M         N
A -0.993263  0.196800
B  1.025984 -0.156598

In [62]:
df[df['M']>0]

          M         N         O         P
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810

In [92]:
df

          M         N         O         P States
A -0.993263  0.196800 -1.136645  0.000366     CA
B  1.025984 -0.156598 -0.031579  0.649826     NY
C  2.154846 -0.610259 -0.755325 -0.346419     WY
D  0.147027 -0.479448  0.558769  1.024810     OR

In [76]:
#KLASYFIKACJA WARTOCI
# and &
# or |

df[(df['N']<0) | (df['P']<0)]

          M         N         O         P
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810

In [78]:
df.reset_index()

  index         M         N         O         P
0     A -0.993263  0.196800 -1.136645  0.000366
1     B  1.025984 -0.156598 -0.031579  0.649826
2     C  2.154846 -0.610259 -0.755325 -0.346419
3     D  0.147027 -0.479448  0.558769  1.024810

In [82]:
newind = 'CA NY WY OR'.split()

In [83]:
df['States'] = newind

In [84]:
df

          M         N         O         P States
A -0.993263  0.196800 -1.136645  0.000366     CA
B  1.025984 -0.156598 -0.031579  0.649826     NY
C  2.154846 -0.610259 -0.755325 -0.346419     WY
D  0.147027 -0.479448  0.558769  1.024810     OR

In [86]:
df.set_index(newind)

KeyError: ignored

In [103]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
print(hier_index)
hier_index = pd.MultiIndex.from_tuples(hier_index)

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [96]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [101]:
df2 = pd.DataFrame(np.random.rand(6,2), hier_index,['A','B'])

In [102]:
df2

             A         B
G1 1  0.659925  0.529623
   2  0.748520  0.093757
   3  0.784522  0.687242
G2 1  0.695078  0.496867
   2  0.975361  0.203528
   3  0.299020  0.227656

In [108]:
df2.loc['G1']['A']

1    0.659925
2    0.748520
3    0.784522
Name: A, dtype: float64

In [109]:
df2.index.names = ['Groups', 'Num']

In [112]:
df2.loc['G2'].loc[2]['B']

0.20352762060152108

In [113]:
df.columns

Index(['M', 'N', 'O', 'P', 'States'], dtype='object')

In [117]:
df.describe()

              M         N         O         P
count  4.000000  4.000000  4.000000  4.000000
mean   0.583648 -0.262376 -0.341195  0.332146
std    1.334368  0.360636  0.754993  0.619471
min   -0.993263 -0.610259 -1.136645 -0.346419
25%   -0.138046 -0.512151 -0.850655 -0.086330
50%    0.586505 -0.318023 -0.393452  0.325096
75%    1.308200 -0.068249  0.116008  0.743572
max    2.154846  0.196800  0.558769  1.024810

In [123]:
df2.xs(1,level=1)

               A         B
Groups
G1      0.659925  0.529623
G2      0.695078  0.496867

In [129]:
import pandas as pd
# Create dataframe
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

df = pd.DataFrame(data)
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [156]:
print(df[df['Company']=='FB'])
print(df.groupby('Company').sum())

  Company Person  Sales
4      FB   Carl    243
5      FB  Sarah    350
         Sales
Company
FB         593
GOOG       320
MSFT       464