<a href="https://colab.research.google.com/github/kozz84/Udemy/blob/main/intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 200+ Exercises - Programming in Python - 2022

In [ ]:
#Print the approximation of pi to two decimal places:
print('\nPrint the approximation of pi to two decimal places:')

pi = 3.1415926535
print(f'Pi: {pi:.2f}')

Print the approximation of pi to two decimal places:
Pi: 3.14

In [ ]:
#Print something x times:
print('\nPrint something x times:')
print('0.o ' * 20)

Print something x times:
0.o 0.o 0.o 0.o 0.o 0.o 0.o 0.o 0.o 0.o 0.o 0.o 0.o 0.o 0.o 0.o 0.o 0.o 0.o 0.o

In [ ]:
#Separation
print("\nSeparation")
print('summer', 'time', 'holiday', sep='#')

Separation
summer#time#holiday

In [ ]:
#Binary to int
print("\nBinary to int")
string = '1 0 0 1 0 1'
binary = string[::2]
print(binary)
number = int(binary, 2)
print(f'Number found: {number}')

Binary to int
100101
Number found: 37

In [ ]:
#Reverse order
print('\nReverse order')
text = '0123456789'
print(text[::-1])

Reverse order
9876543210

In [ ]:
# reszta ilorazu
print('\nreszta ilorazu')
8%3

reszta ilorazu

2

In [ ]:
#variable in string
print('variable in string')
x = 1
print('s+{}'.format(x))
print
num = 12
name = 'Sam'
print('\nMy number is: {}, and my name is: {}'.format(num,name))

variable in string
s+1

My number is: 12, and my name is: Sam

In [ ]:
#map and lambda expressions
seq = [1,2,3,4,5]
print(list(map(lambda x: x*2,seq)))

print(list(filter(lambda x: x%2 ==0, seq)))

s= 'hello my name is Paul'
s.rsplit('is')

[2, 4, 6, 8, 10]
[2, 4]

['hello my name ', ' Paul']

In [ ]:
# FILTERING
seq = ['soup','dog','salad','cat','great']
s = list(filter(lambda i: i[0]=='s', seq))
print(s)

['soup', 'salad']

# Udemy

## Numpy

In [2]:
import numpy as np
np.arange(0,11,2)
np.zeros(5)
np.ones((5,5))
np.zeros((5,5))
np.linspace(0,100,100)
#np.eye(10)

array([  0.        ,   1.01010101,   2.02020202,   3.03030303,
         4.04040404,   5.05050505,   6.06060606,   7.07070707,
         8.08080808,   9.09090909,  10.1010101 ,  11.11111111,
        12.12121212,  13.13131313,  14.14141414,  15.15151515,
        16.16161616,  17.17171717,  18.18181818,  19.19191919,
        20.2020202 ,  21.21212121,  22.22222222,  23.23232323,
        24.24242424,  25.25252525,  26.26262626,  27.27272727,
        28.28282828,  29.29292929,  30.3030303 ,  31.31313131,
        32.32323232,  33.33333333,  34.34343434,  35.35353535,
        36.36363636,  37.37373737,  38.38383838,  39.39393939,
        40.4040404 ,  41.41414141,  42.42424242,  43.43434343,
        44.44444444,  45.45454545,  46.46464646,  47.47474747,
        48.48484848,  49.49494949,  50.50505051,  51.51515152,
        52.52525253,  53.53535354,  54.54545455,  55.55555556,
        56.56565657,  57.57575758,  58.58585859,  59.5959596 ,
        60.60606061,  61.61616162,  62.62626263,  63.63636364,
        64.64646465,  65.65656566,  66.66666667,  67.67676768,
        68.68686869,  69.6969697 ,  70.70707071,  71.71717172,
        72.72727273,  73.73737374,  74.74747475,  75.75757576,
        76.76767677,  77.77777778,  78.78787879,  79.7979798 ,
        80.80808081,  81.81818182,  82.82828283,  83.83838384,
        84.84848485,  85.85858586,  86.86868687,  87.87878788,
        88.88888889,  89.8989899 ,  90.90909091,  91.91919192,
        92.92929293,  93.93939394,  94.94949495,  95.95959596,
        96.96969697,  97.97979798,  98.98989899, 100.        ])

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
z = np.random.randint(1,50,20)
z.dtype

dtype('int64')

In [ ]:
z.argmax()

2

## Pandas

###Salaries

In [176]:
import numpy as np
import pandas as pd
sal = pd.read_csv('/Salaries.csv')
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [177]:
sal.describe()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Status
count,148654.000000,148045.000000,148650.000000,148650.000000,112491.000000,148654.000000,148654.000000,148654.000000,0.0,0.0
mean,74327.500000,66325.448841,5066.059886,3648.767297,25007.893151,74768.321972,93692.554811,2012.522643,NaN,NaN
std,42912.857795,42764.635495,11454.380559,8056.601866,15402.215858,50517.005274,62793.533483,1.117538,NaN,NaN
min,1.000000,-166.010000,-0.010000,-7058.590000,-33.890000,-618.130000,-618.130000,2011.000000,NaN,NaN
25%,37164.250000,33588.200000,0.000000,0.000000,11535.395000,36168.995000,44065.650000,2012.000000,NaN,NaN
50%,74327.500000,65007.450000,0.000000,811.270000,28628.620000,71426.610000,92404.090000,2013.000000,NaN,NaN
75%,111490.750000,94691.050000,4658.175000,4236.065000,35566.855000,105839.135000,132876.450000,2014.000000,NaN,NaN
max,148654.000000,319275.010000,245131.880000,400184.250000,96570.660000,567595.430000,567595.430000,2014.000000,NaN,NaN

In [215]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
 13  title_len         148654 non-null  int64
dtypes: float64(8), int64(3), object(3)
memory usage: 15.9+ MB

In [178]:
sal['JobTitle'].unique()

array(['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
       'CAPTAIN III (POLICE DEPARTMENT)',
       'WIRE ROPE CABLE MAINTENANCE MECHANIC', ..., 'Conversion',
       'Cashier 3', 'Not provided'], dtype=object)

In [179]:
#KLASYFIKACJA WARTOÅšCI
# and &
# or |

sal[(sal['Year'] == 2012) & (sal['TotalPay']>300000)]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
36159,36160,Gary Altenberg,"Lieutenant, Fire Suppression",128808.87,220909.48,13126.31,44430.12,362844.66,407274.78,2012,NaN,San Francisco,NaN
36160,36161,Gregory Suhr,Chief of Police,302578.00,0.00,18974.11,69810.19,321552.11,391362.30,2012,NaN,San Francisco,NaN
36161,36162,Khoa Trinh,Electronic Maintenance Tech,111921.00,146415.32,78057.41,53102.29,336393.73,389496.02,2012,NaN,San Francisco,NaN
36162,36163,Joanne Hayes-White,"Chief, Fire Department",296943.01,0.00,17816.59,72047.88,314759.60,386807.48,2012,NaN,San Francisco,NaN
36163,36164,Frederick Binkley,EMT/Paramedic/Firefighter,126863.19,192424.49,17917.18,44438.25,337204.86,381643.11,2012,NaN,San Francisco,NaN
36167,36168,John Goldberg,Captain 3,104404.00,0.00,245999.41,24287.23,350403.41,374690.64,2012,NaN,San Francisco,NaN
36168,36169,David Franklin,Asst Chf of Dept (Fire Dept),204032.52,85503.16,26193.09,58486.10,315728.77,374214.87,2012,NaN,San Francisco,NaN
36169,36170,Brendan Ward,"Battlion Chief, Fire Suppressi",174822.47,118215.58,28845.78,49648.09,321883.83,371531.92,2012,NaN,San Francisco,NaN
36170,36171,Samson Lai,"Battlion Chief, Fire Suppressi",174822.44,112731.28,28660.28,53249.56,316214.00,369463.56,2012,NaN,San Francisco,NaN
36171,36172,Rudy Castellanos,"Battlion Chief, Fire Suppressi",176771.74,124413.13,15803.39,52320.90,316988.26,369309.16,2012,NaN,San Francisco,NaN
36172,36173,Marty Ross,"Battlion Chief, Fire Suppressi",174822.41,99623.51,36522.39,55353.92,310968.31,366322.23,2012,NaN,San Francisco,NaN
36173,36174,Mark Kearney,Assistant Deputy Chief 2,124573.50,22599.60,180516.68,32381.00,327689.78,360070.78,2012,NaN,San Francisco,NaN
36180,36181,Michael Rolovich,"Captain, Fire Suppression",145659.03,125868.06,30474.97,45129.03,302002.06,347131.09,2012,NaN,San Francisco,NaN
36189,36190,Philip Stevens,"Captain, Fire Suppression",124573.50,53895.92,130200.40,28907.03,308669.82,337576.85,2012,NaN,San Francisco,NaN
36193,36194,Croce Casciato,Captain 3,108175.03,0.00,203471.13,24941.13,311646.16,336587.29,2012,NaN,San Francisco,NaN
36195,36196,Stephen Tacchini,Captain 3,104404.00,0.00,204290.09,24688.54,308694.09,333382.63,2012,NaN,San Francisco,NaN
36202,36203,John Ehrlich,Captain 3,98747.52,1386.38,203735.92,23607.08,303869.82,327476.90,2012,NaN,San Francisco,NaN

In [180]:
sal.describe()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Status
count,148654.000000,148045.000000,148650.000000,148650.000000,112491.000000,148654.000000,148654.000000,148654.000000,0.0,0.0
mean,74327.500000,66325.448841,5066.059886,3648.767297,25007.893151,74768.321972,93692.554811,2012.522643,NaN,NaN
std,42912.857795,42764.635495,11454.380559,8056.601866,15402.215858,50517.005274,62793.533483,1.117538,NaN,NaN
min,1.000000,-166.010000,-0.010000,-7058.590000,-33.890000,-618.130000,-618.130000,2011.000000,NaN,NaN
25%,37164.250000,33588.200000,0.000000,0.000000,11535.395000,36168.995000,44065.650000,2012.000000,NaN,NaN
50%,74327.500000,65007.450000,0.000000,811.270000,28628.620000,71426.610000,92404.090000,2013.000000,NaN,NaN
75%,111490.750000,94691.050000,4658.175000,4236.065000,35566.855000,105839.135000,132876.450000,2014.000000,NaN,NaN
max,148654.000000,319275.010000,245131.880000,400184.250000,96570.660000,567595.430000,567595.430000,2014.000000,NaN,NaN

In [181]:
sal.groupby('Year').sum().sort_values('TotalPayBenefits',ascending=False)

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Notes,Status
Year,,,,,,,,,
2014,4940473939,2.537369e+09,2.059186e+08,1.336232e+08,9.449548e+08,2.876911e+09,3.821866e+09,0.0,0.0
2013,3449541971,2.576381e+09,1.986214e+08,1.436538e+08,8.961163e+08,2.918656e+09,3.814772e+09,0.0,0.0
2012,2005309555,2.405835e+09,1.846910e+08,1.343223e+08,9.720918e+08,2.724848e+09,3.696940e+09,0.0,0.0
2011,653754720,2.299566e+09,1.638388e+08,1.307901e+08,0.000000e+00,2.594195e+09,2.594195e+09,0.0,0.0

In [219]:
sal.groupby('Year').count()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Notes,Agency,Status,title_len
Year,,,,,,,,,,,,,
2011,36159,36159,36159,36159,36159,36159,0,36159,36159,0,36159,0,36159
2012,36766,36766,36766,36766,36766,36766,36766,36766,36766,0,36766,0,36766
2013,37606,37606,37606,37001,37606,37606,37606,37606,37606,0,37606,0,37606
2014,38123,38123,38123,38119,38119,38119,38119,38123,38123,0,38123,0,38123

In [182]:
print(sal['JobTitle'].nunique())
print(len(sal['JobTitle'].unique()))

2159
2159

In [183]:
sal['JobTitle'].value_counts() == 1

Transit Operator                                  False
Special Nurse                                     False
Registered Nurse                                  False
Public Svc Aide-Public Works                      False
Police Officer 3                                  False
                                                  ...
CHIEF HOUSING INSPECTOR                            True
TRAFFIC SIGNAL OPERATOR                            True
COURT COMPUTER FACILITIES COORDINATOR              True
AUTOMOTIVE BODY AND FENDER WORKER SUPERVISOR I     True
VICTIM & WITNESS TECHNICIAN                        True
Name: JobTitle, Length: 2159, dtype: bool

In [184]:
#How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)
sum(sal[sal['Year'] == 2013]['JobTitle'].value_counts() == 1)

202

In [185]:
#How many people have the word Chief in their job title?
def test():
    count = 0
    for i in sal['JobTitle']:
     if 'chief' in i.lower():
         count+=1
    return count
test()

627

In [186]:
sum(sal['JobTitle'].apply(lambda x:'chief' in x.lower()))

627

In [187]:
def tester(z):
    if 'chief' in z.lower():
        return True
    else:
        return False
sum(sal['JobTitle'].apply(lambda x:tester(x)))

627

In [188]:
sal['title_len'] = sal['JobTitle'].apply(lambda x: len(x))

sal['title_len'] = sal['JobTitle'].apply(len)

In [189]:
sal[['TotalPayBenefits','title_len']].corr()

                  TotalPayBenefits  title_len
TotalPayBenefits          1.000000  -0.036878
title_len                -0.036878   1.000000

### Purchases

In [211]:
import numpy as np
import pandas as pd
ecom = pd.read_csv('/Ecommerce Purchases', on_bad_lines='skip')
len(ecom)

16188

In [214]:
ecom['Purchase Price'].mean()

50.36054615099493