<a href="https://colab.research.google.com/github/kozz84/Udemy/blob/main/Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 200+ Exercises - Programming in Python - 2022

In [102]:
#Print the approximation of pi to two decimal places:
print('\nPrint the approximation of pi to two decimal places:')

pi = 3.1415926535
print(f'Pi: {pi:.2f}')

Print the approximation of pi to two decimal places:
Pi: 3.14

In [103]:
#Print something x times:
print('\nPrint something x times:')
print('0.o ' * 20)

Print something x times:
0.o 0.o 0.o 0.o 0.o 0.o 0.o 0.o 0.o 0.o 0.o 0.o 0.o 0.o 0.o 0.o 0.o 0.o 0.o 0.o

In [104]:
#Separation
print("\nSeparation")
print('summer', 'time', 'holiday', sep='#')

Separation
summer#time#holiday

In [105]:
#Binary to int
print("\nBinary to int")
string = '1 0 0 1 0 1'
binary = string[::2]
print(binary)
number = int(binary, 2)
print(f'Number found: {number}')

Binary to int
100101
Number found: 37

In [106]:
#Reverse order
print('\nReverse order')
text = '0123456789'
print(text[::-1])

Reverse order
9876543210

In [107]:
# reszta ilorazu
print('\nreszta ilorazu')
8%3

reszta ilorazu

2

In [109]:
#variable in string
print('variable in string')
x = 1
print('s+{}'.format(x))
print
num = 12
name = 'Sam'
print('\nMy number is: {}, and my name is: {}'.format(num,name))

variable in string
s+1

My number is: 12, and my name is: Sam

In [112]:
#map and lambda expressions
seq = [1,2,3,4,5]
print(list(map(lambda x: x*2,seq)))

print(list(filter(lambda x: x%2 ==0, seq)))

s= 'hello my name is Paul'
s.rsplit('is')

[2, 4, 6, 8, 10]
[2, 4]

['hello my name ', ' Paul']

In [117]:
# FILTERING
seq = ['soup','dog','salad','cat','great']
s = list(filter(lambda i: i[0]=='s', seq))
print(s)

['soup', 'salad']